<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grammar</title>
</head>
<body>
<form action="#" method="post">
    <p>Grammar Check</p>
    <p>{{name}}</p>
    <img src='{{pic.replace("_","/")}}'>
    <p><input type="text" name="grammar_input"/></p>
    <p><input type="submit" value="grammar"/></p>
    <p>{{output_grammar}}</p>
    <table>
        <thead>
              <tr>
                  <th>Input</th>
                  <th>Output</th>
              </tr>
        </thead>
        <tbody>
            {%for row in rows_grammar%}
            <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<a href="/paraphrasing/{{token_id}}/{{pic}}/{{name}}">Paraphrasing</a>
<a href="/plagiarism/{{token_id}}/{{pic}}/{{name}}">Plagiarism checker</a>
<a href="/completion/{{token_id}}/{{pic}}/{{name}}">Text completion</a>
<a href="/grammar/{{token_id}}/{{pic}}/{{name}}">Grammar check</a>
<a href="/logout">Logout</a>
</form>
</body>
</html>